---
layout: default
---
<div class="home">
  <div class="full-hero hero-home">
    <div class="hero-content">
      <div class="hero-title">
        <h1>Programming & IT</h1>
        <h2>Dominik Alberski</h3>
        <ul class="social-list">
          {% include social-links.html %}
        </ul>
      </div>
    </div>
  </div>

  <div class="home-callout">
    <h1 class="callout-title">My Story</h1>
    <div class="callout-copy">
      <p>
        I'm a developer with over 7 years of commercial experience.
        Technologies that I'm using in day to day job circle around Ruby and Ruby on Rails ecosystem.
        I'm familiar with SQL data bases (PostgreSQL, MySQL), Redis, sidekick and other tools used in Rails applications.
        My focus is mainly on Backend but in my free time, I familiarize myself with Frontend (mainly Vue framework caught my interest of late).
      </p>
      <br/>
      <p>
        After finishing my studies and securing a master degree in Social Psychology, I still didn't have a clear idea about my future.
        At that time I was working as an IT technical assistant and at the same time, I was a volunteer in BioPsychology Laboratory.
        When bough of those jobs finished suddenly I needed to find a way to support my growing family.
        I turned my eyes to the study-related field of HR and recruiting, which seemed to be a good opportunity for further career development.
        After about a year of work, I knew it wasn't for me and so I needed to find something that would match my personality better.
        It was then that I started to look into Programming.
        After long research, I decided to take part in the Programming boot-camp organized by Coder's Lab.
        With great effort (lot's of hours of learning squeezed in with a part-time job) and with support from my family I managed to finish it,
        and find my first job as a Junior programmer in <a href="https://www.llinformatics.com/", target="blank">LLI</a> which jump-start my carrier and helped me get my first real experience.
      </p>
    </div>
  </div>

  <div id="positions" class="home-positions">
    <div class="positions-title">
      <h1>Experience</h1>
    </div>
    <div class="positions-list">
      {% assign sorted_positions = site.positions | sort: 'position_no' %}
      {% for position in sorted_positions %}
        {% include position-summary.html %}
      {% endfor %}
    </div>
  </div>

  <div id="educations" class="home-educations">
    <div class="educations-title">
      <h1>Education</h1>
    </div>
    <div class="educations-list">
      {% assign sorted_educations = site.educations | sort: 'position_no' %}
      {% for education in sorted_educations %}
        {% include education-summary.html %}
      {% endfor %}
    </div>
  </div>
</div>
