<head>
  <title>Programming & IT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <!-- <script src="assets/js/gallery.js"></script> -->
  <!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
      activateGallery();
    });
  </script> -->
</head>
