<li><a href="/">Home</a></li>
<!-- <li><a href="/gallery">Gallery</a></li> -->
<li class="dropdown">
  <a class="drop-trigger" href="/#positions">Experience</a>
  <ul class="drop-menu">
    <li>Recent Positions</li>
    {% assign sorted_positions = site.positions | sort: 'position_no' %}
    {% for position in sorted_positions limit:3 %}
      <li><a href="{{ position.url }}">{{ position.title }}</a></li>
    {% endfor %}
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger" href="/#educations">Education</a>
  <ul class="drop-menu">
    <li>Recent Education</li>
    {% assign sorted_educations = site.educations | sort: 'position_no' %}
    {% for education in sorted_educations limit:3 %}
      <li><a href="{{ education.url }}">{{ education.title }}</a></li>
    {% endfor %}
  </ul>
</li>
<li>
  <a href="/articles">Links</a>
</li>
<!-- <li><a href="{{ site.posts.first.url }}">Newest Post</a></li> -->
